/* ********************************************************************************************** */
/* **************************************全局样式************************************************* */
/* ********************************************************************************************** */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
button,
input,
textarea,
th,
td,
button {
    margin: 0;
    padding: 0;
    outline: none;
}

li {
    list-style-type: none;
}

/*开始*/
html {
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 340px;
    overflow: hidden;
}
.animation {
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}
.bigpicture-holder {
    height: 100%;
    background: #000;
    color: #fff;
    position: relative;
    width: 100%;
}

.bigpicture-content {
    height: 100%;
    top: 0;
    width: 100%;
    overflow: hidden;
}
.bigpicture-content ul{
    height: 100%;
    width: 300%;
    top: 0;
    /*position: absolute;*/
}
.bigpicture-content ul li {
    float: left;
    width: calc(100% /3);
    height: 100%;
    overflow: hidden;
    position: relative;
}
.bigpicture-content ul li .img-holder {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.bigpicture-content ul li .img-holder img{
    width: 100%;
}


.bigpicture-footer {
        background: rgba(0, 0 , 0, 0.5);
        position: fixed;
        bottom: 0;
        color: #fff;
}